@model DLFeedback360.Model.Login

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>GetLogin2</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css" />
</head>
<body class="container">

<h4>Login</h4>
<hr />



<div class="row">
    <div class="col-md-4">
        <form asp-action="GetLogin2">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="UserID" class="control-label"></label>
                <input asp-for="UserID" class="form-control" />
                <span asp-validation-for="UserID" class="text-danger"></span>
            </div>
            <div class="form-group">
                    <label asp-for="Password" class="control-label"></label><br />
                    @Html.PasswordFor(m => m.Password, new { @class = "textBoxWidth" })
                    <span asp-validation-for="Password" class="text-danger "></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>






<div>
    <a asp-action="Index">Back to List</a>
</div>

</body>
</html>
